// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

/* Breakpoint for extra-small viewport */
@include media-breakpoint-up(xs) {
}

/* Breakpoint for small viewport */
@include media-breakpoint-up(sm) {
}

/* Breakpoint for medium viewport */
@include media-breakpoint-up(md) {
}

/* Breakpoint for large viewport */
@include media-breakpoint-up(lg) {
}

/* Breakpoint for extra-large viewport */
@include media-breakpoint-up(xl) {
}

.beerventory-page a {
	text-decoration: none;
	color: white;
}

.beer-card {
	width: 100%;
	background-color: #c4c4c4;
	margin: 10px;
	border: 1px solid #222222;
	&:hover {
		background-color: blue;
	}
}
